streamlit
streamlit-lottie
google-generativeai
python-dotenv
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-classic
langchain-google-genai
langchain-groq
pypdf
python-docx
faiss-cpu
requests
plotly
textstat
pandas